<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrapic: Scrape pictures from any dynamic website!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body onload="loader_deactivate()">
    <div id="loader"></div>
    <div class="container input-container">
      <h1>Scrape images from any website.</h1>
      <br/ >
      <fieldset>
        <form action="/" method="post">
          <input name="url_to_parse" type="text" class="form-control" placeholder="Enter a URL here." required>
          <input type="submit" class="btn btn-default btn-block" value="Get Images" onclick="loader_activate()">
        </form>
      </fieldset>
    </div>
    
    <div class="flex-container">
    <% if(error !== null){ %>
      <p><%= error %></p>
    <% } %>
    <% if(urls !== null){ %>
      <% for(var i=0; i<urls.length; i++) { %>
        <div class ="flex-item">
          <a href='<%=urls[i]%>'>
          <img src='<%=urls[i]%>'>
          </a>
        </div>
      <% } %>
    <% } %>
    </div>

    <script>
      function loader_deactivate() {
        document.getElementById("loader").style.display = "none";
      }
      function loader_activate() {
        document.getElementById("loader").style.display = "block";
      }
    </script>
  </body>
</html>
