
.input-container {
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form-control {
  margin-bottom: -1px;
}

.flex-container {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0px 20px;
}

.flex-item {
  position: relative;
  width: 200px;
  margin: 5px;
  border-radius: 2px;
  padding: 10px;
  background-color: #FBFCFC;
  box-shadow: 0 1px 2px 0 rgba(100,100,100,0.22);
}

.flex-item img {
  max-width :100%;
  max-height: 100%
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  /*background-color: #FFF;*/
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
